<section class="about">

  <div class="main-top about-top">
    <div class="main-top__container">
      <h1 class="main-top__title">О нас</h1>
      <p class="main-top__text">
        Растим семена. <br>
        Выращиваем будущее
      </p>
    </div>
  </div>

  <div class="about__content">
    <div class="about__bg">
      <img src="./assets/images/about-bg.png" alt="">
    </div>
    <div class="about__container">
      <div class="about-info">
        <h3 class="about-info__title">
          Российская
          селекционно-семеневодческая компания
        </h3>
        <ul class="about-info__list">
          <li>
            Создаем современные продукты на основе передовых достижений отечественной селекции
          </li>
          <li>
            Используем лучшие практики международных компаний
            в сопровождении клиентов
          </li>
        </ul>

        <p class="about-info__partners">
          Наши партнеры: <br>
          ВНИИМК им. В.С. Пустовойта <br>
          НЦЗ им. П.П. Лукьяненко
        </p>
      </div>

      <div class="about-seed">
        <h3 class="about-seed__title">
          Крупнейший российский производитель семян масличных культур
        </h3>

        <div class="about-seed-top">
          <div class="about-seed-item">
            <div class="about-seed-item__icon">
              <svg>
                <use href="#seed-type-1"></use>
              </svg>
            </div>
            <h5 class="about-seed-item__title">ПОДСОЛНЕЧНИК</h5>
          </div>
          <p class="about-seed-top__text">
            Под все современные технологии возделования
          </p>
          <ul class="about-seed-top__list">
            <li>
              <svg>
                <use href="#seed-icon"></use>
              </svg>
              Классический
              OR5, OR7, OR7+
            </li>
            <li>
              <svg>
                <use href="#seed-icon"></use>
              </svg>
              Clearfield®
              Clearfield® Plus
            </li>
            <li>
              <svg>
                <use href="#seed-icon"></use>
              </svg>
              ExpressSun®
            </li>
          </ul>
        </div>

        <div class="about-seed-info">
          <div class="about-seed-info__item">
            <div class="about-seed-item">
              <div class="about-seed-item__icon">
                <svg>
                  <use href="#seed-type-4"></use>
                </svg>
              </div>
              <h5 class="about-seed-item__title">Кукуруза</h5>
            </div>
            <div class="about-seed-item">
              <div class="about-seed-item__icon">
                <svg>
                  <use href="#seed-type-2"></use>
                </svg>
              </div>
              <h5 class="about-seed-item__title">Соя</h5>
            </div>
            <div class="about-seed-item">
              <div class="about-seed-item__icon">
                <svg>
                  <use href="#seed-type-3"></use>
                </svg>
              </div>
              <h5 class="about-seed-item__title">Лён</h5>
            </div>

          </div>
          <div class="about-seed-info__item">
            <div class="about-seed-info__inner">
              <span class="about-seed-info__value">33</span>
              <p class="about-seed-info__text">Региона присутствия</p>
            </div>
            <div class="about-seed-info__inner">
              <span class="about-seed-info__value">150</span>
              <p class="about-seed-info__text">Пунктов испытания гибридов</p>
            </div>
            <div class="about-seed-info__inner">
              <span class="about-seed-info__value">300</span>
              <p class="about-seed-info__text">Тысяч Га засеяно гибридов</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-advantages">
    <h3 class="about-advantages__title">Наша компания сегодня</h3>

    <ul class="about-advantages__list">
      <li class="about-advantages-item">
        <div class="about-advantages-item__icon">
          <svg>
            <use href="#agro-icon"></use>
          </svg>
        </div>
        широкая география <br>
        участков гибридизации
      </li>
      <li class="about-advantages-item">
        <div class="about-advantages-item__icon">
          <svg>
            <use href="#advantages-icon_3"></use>
          </svg>
        </div>
        современные технологии и <br>
        высокий контроль качества
      </li>
      <li class="about-advantages-item">
        <div class="about-advantages-item__icon">
          <svg>
            <use href="#advantages-icon_2"></use>
          </svg>
        </div>
        команда <br>
        экспертов
      </li>
      <li class="about-advantages-item">
        <div class="about-advantages-item__icon">
          <svg>
            <use href="#advantages-icon_1"></use>
          </svg>
        </div>
        клиентский <br>
        сервис
      </li>
    </ul>
  </div>

</section>