<section class="agro">

  <div class="main-top agro-top">
    <div class="main-top__container">

      <h1 class="main-top__title">Агро- <br> сопровождение</h1>
      <p class="main-top__text">
        Подбор семян и консультации на всех этапах производства для достижения высоких результатов клиентов
      </p>
      <button type="button" class="default-link default-link_white main-top__link" data-open-consultation>
        Получить консультацию
      </button>
    </div>
  </div>

  <div class="info-info agro-info">
    <div class="info-info__container">
      <h3 class="info-info__title">
        Что входит
        в агросопровождение?
      </h3>

      <div class="main-question-list info-info-list">
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">01</span>

            <span class="main-question-list-item__text">
              Оценка факторов
              влияющих на эффективность
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">02</span>

            <span class="main-question-list-item__text">
              Подбор сортов и гибридов
              отвечающих агроспособностям
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">03</span>

            <span class="main-question-list-item__text">
              Рекомендации по системе
              минерального питания
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">04</span>

            <span class="main-question-list-item__text">
              Подбор оптимальной
              системы защиты
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">05</span>

            <span class="main-question-list-item__text">
              Мониторинг состояния полей
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">06</span>

            <span class="main-question-list-item__text">
              Оптимизация
              уборки урожая
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>