<section class="article">
    <div class="article-text">
        <svg>
            <use href="#green-commos"></use>
        </svg>
        <h1>Сорта или гибриды, что выбрать?</h1>

        <p>
            Iaculis nunc sed augue lacus viverra. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Blandit massa enim nec dui nunc mattis. Eget est lorem ipsum dolor.
        </p>
        <p>
            Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Mattis nunc sed blandit libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Consectetur lorem donec massa sapien faucibus. Facilisi morbi tempus iaculis urna id volutpat lacus. Ultricies mi quis hendrerit dolor magna eget est. Ante in nibh mauris cursus. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Arcu risus quis varius quam quisque id diam. Dictumst quisque sagittis purus sit amet volutpat consequat. Viverra mauris in aliquam sem fringilla ut morbi.
        </p>

        <div class="article-text__img">
            <img src="./assets/images/main-baner.jpg" alt="#">
        </div>

        <p>
            Iaculis nunc sed augue lacus viverra. Vitae semper quis lectus nulla at volutpat diam ut venenatis. Blandit massa enim nec dui nunc mattis. Eget est lorem ipsum dolor.
        </p>

        <p>
            Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Mattis nunc sed blandit libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Consectetur lorem donec massa sapien faucibus. Facilisi morbi tempus iaculis urna id volutpat lacus. Ultricies mi quis hendrerit dolor magna eget est. Ante in nibh mauris cursus. Pulvinar neque laoreet suspendisse interdum consectetur libero id. Arcu risus quis varius quam quisque id diam. Dictumst quisque sagittis purus sit amet volutpat consequat. Viverra mauris in aliquam sem fringilla ut morbi.
        </p>
    </div>

    <div class="info-info">
        <div class="info-info__container">
            <h3 class="info-info__title">
                Другие полезные<br>
                материалы
            </h3>

            <div class="main-question-list info-info-list">
                <a href="#" class="main-question-list-item">
                    <span class="main-question-list-item__number">01</span>

                    <span class="main-question-list-item__text">
                        Сорта или гибриды, что выбрать?
                    </span>

                    <svg>
                        <use href="#link-icon"></use>
                    </svg>
                </a>
                <a href="#" class="main-question-list-item">
                    <span class="main-question-list-item__number">02</span>

                    <span class="main-question-list-item__text">
                        Какая технология мне подойдет. Классическая, Express или Clearfield?
                    </span>

                    <svg>
                        <use href="#link-icon"></use>
                    </svg>
                </a>
                <a href="#" class="main-question-list-item">
                    <span class="main-question-list-item__number">03</span>

                    <span class="main-question-list-item__text">
                        Как победить заразиху?
                    </span>

                    <svg>
                        <use href="#link-icon"></use>
                    </svg>
                </a>
                <a href="#" class="main-question-list-item">
                    <span class="main-question-list-item__number">04</span>

                    <span class="main-question-list-item__text">
                        Сорта или гибриды, что выбрать?
                    </span>

                    <svg>
                        <use href="#link-icon"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>

</section>