<section class="career">

  <div class="main-top career-top">
    <div class="main-top__container">

      <h1 class="main-top__title">КАРЬЕРА</h1>
      <p class="main-top__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
      <button type="button" class="default-link default-link_white main-top__link" data-open-career>
        Отправить резюме
      </button>

    </div>
  </div>

  <div class="career-info">
    <h3 class="career-info__title">О компании</h3>

    <div class="career-info__text">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
        aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
        esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt.
      </p>
    </div>
  </div>

  <div class="main-question career-list">
    <div class="main-question__container">

      <div class="main-question__head">
        <h3 class="main-question__title">
          Вакансии
        </h3>
      </div>

      <div class="main-question-list career-list__container">
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">01</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">02</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">03</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">04</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">05</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">06</span>

            <span class="main-question-list-item__text">
              Название вакансии
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Описание вакансии Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet quidem veritatis
              beatae quasi quibusdam soluta consectetur ipsa commodi, illum dolorum officiis vitae. Iste adipisci
              molestiae culpa sunt, nulla suscipit laborum rem, dolorum hic voluptatum corrupti blanditiis. Tempora ab
              qui mollitia expedita dignissimos facere, aliquid soluta, neque provident laboriosam eos praesentium ipsa
              asperiores maiores totam quod. Esse voluptatum eos nulla autem, deleniti, tempora alias magnam optio saepe
              ipsum nisi quod placeat aspernatur exercitationem officia natus, hic dolorum consequuntur id
              necessitatibus? Repudiandae sunt provident consequatur, aut libero rerum, voluptate, recusandae impedit
              eveniet fugiat maiores corporis asperiores aliquid? Dicta, veritatis. Non, neque. Totam obcaecati
              temporibus facilis vel dolore praesentium, dolorum tempora minima labore deleniti exercitationem fugiat,
              illum vero reiciendis doloremque nemo perferendis. Iusto amet iste voluptatum similique quos eum et
              nesciunt ab neque animi nam ipsum laborum eveniet aspernatur ducimus nihil, id repudiandae, ullam modi
              nostrum! Nihil, voluptatum dolorum? Ipsum dolor laboriosam modi reiciendis labore, ut ex ea nesciunt
              consequatur quod magni, maxime laborum ab possimus? Quidem ex incidunt nobis sed natus, perspiciatis animi
              autem laborum commodi soluta corporis dicta, quae ut velit, blanditiis voluptatem tempora unde iste
              delectus mollitia placeat sit dolores distinctio? Totam deserunt pariatur perferendis expedita nobis quos
              dolores tenetur.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>