<footer class="footer">

  <div class="footer__container">

    <a href="#" class="footer__logo">
      <svg>
        <use href="#logo-icon"></use>
      </svg>
    </a>

    <div class="footer-nav">
      <a href="#" class="footer-nav__link">Новости</a>
      <a href="#" class="footer-nav__link">О компании</a>
      <a href="#" class="footer-nav__link">Агросопровождение</a>
      <a href="#" class="footer-nav__link">Где купить?</a>
      <a href="#" class="footer-nav__link">Каталог</a>
    </div>

    <div class="footer-contacts">
      <a href="#" class="footer-contacts__link">8 800 6 000 940</a>
      <a href="#" class="footer-contacts__link">info@ruseed.com</a>

      <p class="footer-contacts__text">
        350015, Краснодарский край,<br>г. Краснодар,
        ул. им. Янковского 169,<br>оф. 407-408, 506
      </p>
    </div>

    <div class="footer-legal">
      <div class="footer-soucial">
        <a href="https://t.me/ruseed_ru" class="footer-soucial__link">
          <svg>
            <use href="#telegram-icon"></use>
          </svg>
        </a>
        <a href="https://vk.com/ruseed_ru?ysclid=liahwxu3ua618512805" class="footer-soucial__link">
          <svg>
            <use href="#vk-icon"></use>
          </svg>
        </a>
        <a href="https://wa.me/89094525542" class="footer-soucial__link">
          <svg>
            <use href="#whats-app-icon"></use>
          </svg>
        </a>
      </div>

      <p class="footer-legal__text">
        © RUSEED 2023 Политика о конфиденциальности
      </p>
    </div>

  </div>

</footer>