<div class="form-wrapper" data-consultation-form>
  <div class="form__bg"></div>

  <div class="form-container">
    <form action="#" class="form" data-send>
      <div class="form__inner">
        <div class="main-top-form__send">
          <h4 class="main-top-form__title">
            Спасибо! <br>
            Мы свяжемся с вами в ближайшее время
          </h4>
        </div>
        <button type="button" class="main-top-form__close-btn">
          <svg>
            <use href="#menu-close-icon"></use>
          </svg>
        </button>
        <h4 class="main-top-form__title">Получить консультацию</h4>
        <input type="text" class="main-info-form__input" placeholder="Имя">
        <input type="text" class="main-info-form__input" placeholder="Номер">
        <div class="select main-info-form-select">
          <input type="text" class="select__value main-info-form-select__value">
          <button type="button" class="select__btn main-info-form-select__btn main-info-form__input">
            <span>Регион</span>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-info-form-select-content">
            <button type="button" class="select__item main-info-form-select-content__btn" data-value="value-1">Регион
              1</button>
            <button type="button" class="select__item main-info-form-select-content__btn" data-value="value-2">Регион
              2</button>
            <button type="button" class="select__item main-info-form-select-content__btn" data-value="value-3">Регион
              3</button>
          </div>
        </div>
        <textarea class="main-info-form__input main-info-form__input_text" placeholder="Ваш вопрос"></textarea>
        <p class="main-top-form__legal">
          Нажимая на кнопку вы соглашаетесь на обработку персональных данных
        </p>
        <button type="submit" class="default-link main-top-form__btn">Отправить</button>
      </div>
    </form>
  </div>
</div>