<section class="info">

  <div class="main-top info-top">
    <div class="main-top__container">

      <h1 class="main-top__title">УЗНАЙТЕ БОЛЬШЕ</h1>
      <p class="main-top__text">
        О технологиях выращивания, результатах опытов, новостях компании и участвуйте в наших мероприятиях
      </p>

    </div>
  </div>

  <div class="info-main">
    <div class="info-main__container">

      <div class="main-question-list info-main-list">
        <a href="#agronomia" class="main-question-list-item">
          <span class="main-question-list-item__number">01</span>

          <span class="main-question-list-item__text">
            Агрономия.
            Полезные материалы
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#news" class="main-question-list-item">
          <span class="main-question-list-item__number">02</span>

          <span class="main-question-list-item__text">
            Новости компании
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#results" class="main-question-list-item">
          <span class="main-question-list-item__number">03</span>

          <span class="main-question-list-item__text">
            Результаты опытов
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#events" class="main-question-list-item">
          <span class="main-question-list-item__number">04</span>

          <span class="main-question-list-item__text">
            Приглашаем на наши мероприятия
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>

  <div class="info-info" id="agronomia">
    <div class="info-info__container">
      <h3 class="info-info__title">
        Агрономия. <br>
        Полезные материалы
      </h3>

      <div class="main-question-list info-info-list">
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">01</span>

          <span class="main-question-list-item__text">
            Сорта или гибриды, что выбрать?
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">02</span>

          <span class="main-question-list-item__text">
            Какая технология мне подойдет. Классическая, Express или Clearfield?
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">03</span>

          <span class="main-question-list-item__text">
            Как победить заразиху?
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">04</span>

          <span class="main-question-list-item__text">
            Сорта или гибриды, что выбрать?
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>

  <div class="info-news" id="news">
    <div class="info-news__container">

      <div class="info-news__navigation">
        <h3 class="info-news__title">
          Новости компании
        </h3>

        <div>
          <button>
            <svg>
              <use href="#green-arrow"></use>
            </svg>
          </button>

          <button>
            <svg>
              <use href="#green-arrow"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper info-news-list">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="info-news-list-item">
              <div class="info-news-list-item__img">
                <img src="./assets/images/about-news-1.jpg" alt="">
              </div>

              <p class="info-news-list-item__text">
                Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
                Башкортостана
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="info-news-list-item">
              <div class="info-news-list-item__img">
                <img src="./assets/images/about-news-1.jpg" alt="">
              </div>

              <p class="info-news-list-item__text">
                Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
                Башкортостана
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="info-news-list-item">
              <div class="info-news-list-item__img">
                <img src="./assets/images/about-news-1.jpg" alt="">
              </div>

              <p class="info-news-list-item__text">
                Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
                Башкортостана
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="info-news-list-item">
              <div class="info-news-list-item__img">
                <img src="./assets/images/about-news-1.jpg" alt="">
              </div>

              <p class="info-news-list-item__text">
                Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
                Башкортостана
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="info-news-list-item">
              <div class="info-news-list-item__img">
                <img src="./assets/images/about-news-1.jpg" alt="">
              </div>

              <p class="info-news-list-item__text">
                Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
                Башкортостана
              </p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="info-result" id="results">
    <div class="info-result__container">

      <h3 class="info-result__title">Результаты опытов</h3>

      <a href="#" class="default-link info-result__link">Загрузить брошюру</a>

      <div class="info-result-table">
        <div class="info-result-table__container">
          <div class="info-result-table-item">
            <div class="info-result-table-item__text">
              2023
            </div>
            <div class="info-result-table-item__text">
              СУРУС
            </div>
            <div class="info-result-table-item__text">
              Саратовская область
            </div>
            <div class="info-result-table-item__text">
              ООО “Заря”
            </div>
            <div class="info-result-table-item__text">
              18ц/га
            </div>
            <div class="info-result-table-item__text">
              -контроль 15ц/га
            </div>
          </div>
          <div class="info-result-table-item">
            <div class="info-result-table-item__text">
              2023
            </div>
            <div class="info-result-table-item__text">
              СУРУС
            </div>
            <div class="info-result-table-item__text">
              Саратовская область
            </div>
            <div class="info-result-table-item__text">
              ООО “Заря”
            </div>
            <div class="info-result-table-item__text">
              18ц/га
            </div>
            <div class="info-result-table-item__text">
              -контроль 15ц/га
            </div>
          </div>
          <div class="info-result-table-item">
            <div class="info-result-table-item__text">
              2023
            </div>
            <div class="info-result-table-item__text">
              СУРУС
            </div>
            <div class="info-result-table-item__text">
              Саратовская область
            </div>
            <div class="info-result-table-item__text">
              ООО “Заря”
            </div>
            <div class="info-result-table-item__text">
              18ц/га
            </div>
            <div class="info-result-table-item__text">
              -контроль 15ц/га
            </div>
          </div>
          <div class="info-result-table-item">
            <div class="info-result-table-item__text">
              2023
            </div>
            <div class="info-result-table-item__text">
              СУРУС
            </div>
            <div class="info-result-table-item__text">
              Саратовская область
            </div>
            <div class="info-result-table-item__text">
              ООО “Заря”
            </div>
            <div class="info-result-table-item__text">
              18ц/га
            </div>
            <div class="info-result-table-item__text">
              -контроль 15ц/га
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="info-events" id="events">
    <div class="info-events__container">

      <h3 class="info-events__title">
        Приглашаем на наши <br>
        мероприятия
      </h3>

      <div class="info-events-list">
        <div class="main-question-list-item" data-drop-info>
          <button class="main-question-list-item__btn info-events-list-item">
            <span class="info-events-list-item__date">23.07.23</span>

            <span class="info-events-list-item__city">Оренбург</span>

            <span class="info-events-list-item__name">День поля <strong>RUSEED</strong></span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button class="main-question-list-item__btn info-events-list-item">
            <span class="info-events-list-item__date">23.07.23</span>

            <span class="info-events-list-item__city">Оренбург</span>

            <span class="info-events-list-item__name">День поля <strong>RUSEED</strong></span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button class="main-question-list-item__btn info-events-list-item">
            <span class="info-events-list-item__date">23.07.23</span>

            <span class="info-events-list-item__city">Оренбург</span>

            <span class="info-events-list-item__name">День поля <strong>RUSEED</strong></span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>

        <div class="main-question-list-item" data-drop-info>
          <button class="main-question-list-item__btn info-events-list-item">
            <span class="info-events-list-item__date">23.07.23</span>

            <span class="info-events-list-item__city">Оренбург</span>

            <span class="info-events-list-item__name">День поля <strong>RUSEED</strong></span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
              voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
              in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
              quo voluptas nulla pariatur
            </p>

            <ul>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
              <li>veniam, quis nostrum exercitationem</li>
            </ul>

            <p>
              veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
              commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>