<section class="main">

  <div class="main-top">
    <video autoplay="autoplay" muted="muted" defaultmuted playsinline loop="loop" class="main-top__video"
      poster="./assets/images/main-top-poster.jpg">
      <source
        src="./assets/video/stock-footage-beautiful-aerial-view-above-to-the-sunflowers-field-while-sunset-top-view-onto-agriculture-field.mp4"
        type="video/mp4">
    </video>

    <div class="main-top__container">

      <h1 class="main-top__title">Растим семена.</h1>
      <h3 class="main-top__title">
        Выращиваем
        будущее.
      </h3>

    </div>
  </div>

  <div class="main-info">
    <div class="main-info__container">

      <div class="main-info-top">
        <div class="main-info-top__inner">
          <div class="main-info-top__logo">
            <svg>
              <use href="#logo-icon"></use>
            </svg>
          </div>

          <h4 class="main-info-top__title">
            Российская
            селекционно-
            семеноводческая
            компания
          </h4>
        </div>

        <div class="main-info-top-content">
          <ul class="main-info-top-content__list">
            <li class="main-info-top-content__item">
              <span class="main-info-top-content__number">33</span>
              <p class="main-info-top-content__text">
                Региона присутствия
              </p>
            </li>
            <li class="main-info-top-content__item">
              <span class="main-info-top-content__number">150</span>
              <p class="main-info-top-content__text">
                Пунктов испытания гибридов
              </p>
            </li>
            <li class="main-info-top-content__item">
              <span class="main-info-top-content__number">300</span>
              <p class="main-info-top-content__text">
                Тысяч га засеяно гибридами
              </p>
            </li>
          </ul>

          <div class="main-info-top-content__img">
            <img src="./assets/images/main-info.png" alt="">
          </div>
        </div>
      </div>

      <div class="main-info-catalog">
        <div class="main-info-catalog__head">
          <h4 class="main-info__title">
            Готовы ко всем <br>
            вызовам
          </h4>

          <a href="#" class="default-link main-info-list__link">Посмотреть каталог</a>
        </div>

        <div class="main-info-catalog-list">
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#bag-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Собственное производство
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#dna-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Передовые достижения
                отечественной селекции
                от ведущих институтов
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#quolity-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Высокое качество
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#canister-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Все производственные системы: <a href="#">классическая,</a> <a href="#">Clearfield®,</a> <a
                  href="#">ExpressSun®</a>
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#weather-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Адаптированы к сложным почвенно-климатическим условиям
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#technologies-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Подходят и для экстенсивных
                и для интенсивных технологий возделывания
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#agro-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Агросопровождение
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#money-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Доступные цены
              </p>
            </div>
          </div>
          <div class="main-info-catalog-list-item">
            <div class="main-info-catalog-list-item__img">
              <!-- <img src="./assets/images/agro-top.jpg" alt=""> -->
              <svg>
                <use href="#gos-icon"></use>
              </svg>
            </div>

            <div class="main-info-catalog-list-item__text">
              <p>
                Субсидируются
                государством
              </p>
            </div>
          </div>
        </div>
      </div>

      <form action="#" class="main-info-top main-info-form" data-send>
        <div class="main-info-top__inner">
          <h4 class="main-info__title">
            Получить консультацию специалиста
          </h4>
        </div>

        <div class="main-info-form__container">
          <div class="main-info-form__inner">
            <input type="text" class="main-info-form__input" placeholder="Имя">
            <input type="text" class="main-info-form__input" placeholder="Номер">

            <!-- <div class="select main-info-form-select">
              <input type="text" class="select__value main-info-form-select__value">
              <button type="button" class="select__btn main-info-form-select__btn main-info-form__input">
                <span>Регион</span>
                <svg>
                  <use href="#link-icon"></use>
                </svg>
              </button>
              <div class="main-info-form-select-content">
                <button type="button" class="select__item main-info-form-select-content__btn"
                  data-value="value-1">Москва</button>
                <button type="button" class="select__item main-info-form-select-content__btn"
                  data-value="value-2">Питер</button>
                <button type="button" class="select__item main-info-form-select-content__btn"
                  data-value="value-3">Уфа</button>
              </div>
            </div> -->

            <div class="custom-select main-info-form-select">
              <select class="my-select">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
              </select>
              <span class="main-info-form-select__btn main-info-form__input">
                <span class="select__btn">Регион</span>
                <svg>
                  <use href="#link-icon"></use>
                </svg>
              </span>
              <ul class="main-info-form-select-content">
                <li data-value="option1">Москва</li>
                <li data-value="option2">Питер</li>
                <li data-value="option3">Уфа</li>
              </ul>
            </div>
            <p class="main-info-form__legal">
              Нажимая на кнопку вы соглашаетесь на обработку персональных данных
            </p>
          </div>

          <button type="submit" class="default-link main-info-form__btn">Получить</button>

          <div class="main-top-form__send">
            <h4 class="main-top-form__title">
              Спасибо! <br>
              Мы свяжемся с вами в ближайшее время
            </h4>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="main-baner">
    <div class="main-baner__container">
      <h3 class="main-baner__title">
        БОЛЕЕ <br>
        600 КЛИЕНТОВ <br>
        ВЫБРАЛИ <br>
        СЕМЕНА RUSEED
      </h3>
    </div>
  </div>

  <div class="main-question">
    <div class="main-question__container">

      <div class="main-question__head">
        <h3 class="main-question__title">
          Популярные <br>
          вопросы
        </h3>
        <a href="#" class="default-link main-question__link">Задать вопрос</a>
      </div>

      <div class="main-question-list">
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">01</span>

            <span class="main-question-list-item__text">
              Как осуществляется доставка и ее сроки?
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Вы можете воспользоваться услугой доставки или забрать товар самостоятельно на одном из наших складов.
              Южный и Центральный федеральные округи – крайний срок поставки 1 апреля.
              Приволжский федеральный округ – крайний срок поставки 15 апреля.
              Уральский федеральный округ – крайний срок поставки 1 мая.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">02</span>

            <span class="main-question-list-item__text">
              Что входит в агросопровождение?
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Мы заинтересованы в достижении высоких результатов у наших клиентов, поэтому предлагаем услугу
              агросопровождения. В агросопровождение входят индивидуальный подбор сортов и гибридов, разработка
              технологической карты возделывания, мониторинг посевов в течении всего периода вегетации, а также
              предоставление профессиональных и своевременных рекомендаций на всех этапах производственного процесса.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">03</span>

            <span class="main-question-list-item__text">
              Собственное ли производство?
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Мы самостоятельно производим семена по лицензии ВНИИМК.
            </p>
          </div>
        </div>
        <div class="main-question-list-item" data-drop-info>
          <button type="button" class="main-question-list-item__btn">
            <span class="main-question-list-item__number">04</span>

            <span class="main-question-list-item__text">
              В каких областях и районах уже высевались гибриды и сорта компании?
            </span>

            <svg>
              <use href="#link-icon"></use>
            </svg>
          </button>
          <div class="main-question-list-item__content">
            <p>
              Семена подсолнечника, сои и льна производимые компанией «РУСИД» высеваются в большинстве регионов ЮФО,
              Поволжья и Урала. В 2023 году продукция компании высеивается на площади более 300 тыс. га. Наши семена
              выбрали более 600 сельскохозяйственных предприятий.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="main-region">
    <div class="main-region__container">

      <h3 class="main-region__title">
        Региональные
        представительства
      </h3>

      <ul class="main-region-list">
        <li class="main-region-list-item">
          <a href="https://yandex.ru/map-widget/v1/?um=constructor%3A5c96293f174eafe293c8972e7b7423e0edcef57420eb8523bb50a0af12a197d3&amp;source=constructor"
            class="main-region-list-item__img" data-fancybox>
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A5c96293f174eafe293c8972e7b7423e0edcef57420eb8523bb50a0af12a197d3&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </a>

          <p class="main-region-list-item__text">
            Центральный офис ООО «РУСИД» <br>
            350015 г. Краснодар, ул. им. Янковского, 169 <br>
            оф. 407-408, 506 <br>
            8 800 6000 940 <br>
            8 909 448 67 60

          </p>
        </li>
        <li class="main-region-list-item">
          <div class="main-region-list-item__img">
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc0829b91b19ccda98ee79b4518b34b970d5dac1e82c677003a31291657ed236&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>

          <p class="main-region-list-item__text">
            410530 г. Саратов, поселок Дубки <br>
            тер. Девон-Альянс, здание 6 литер П18, 11 <br>
            8 800 6000 940 <br>
            8 961 510 00 26
          </p>
        </li>
        <li class="main-region-list-item">
          <div class="main-region-list-item__img">
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc0829b91b19ccda98ee79b4518b34b970d5dac1e82c677003a31291657ed236&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>

          <p class="main-region-list-item__text">
            460027 г. Оренбург, ул. Беляевская д. 40, офис 2 <br>
            8 800 6000 940 <br>
            8 967 300 01 29
          </p>
        </li>
      </ul>

    </div>
  </div>

</section>