<section class="news">
    <div class="article-text">
        <svg>
            <use href="#green-commos"></use>
        </svg>
        <h1>Компания RUSEED подобрала эффективные и надежные решения по выращиванию подсолнечника для аграриев
            Башкортостана</h1>

        <p>
            31.07.2023
        </p>
        <p>
            Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Interdum consectetur libero id
            faucibus nisl tincidunt eget nullam non. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien
            et. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Mattis nunc sed blandit
            libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Consectetur lorem donec massa
            sapien faucibus. Facilisi morbi tempus iaculis urna id volutpat lacus. Ultricies mi quis hendrerit dolor
            magna eget est. Ante in nibh mauris cursus. Pulvinar neque laoreet suspendisse interdum consectetur libero
            id. Arcu risus quis varius quam quisque id diam. Dictumst quisque sagittis purus sit amet volutpat
            consequat. Viverra mauris in aliquam sem fringilla ut morbi.
        </p>

        <div class="news-navigation">
            <button>
                <svg>
                    <use href="#green-arrow"></use>
                </svg>
            </button>
            <button>
                <svg>
                    <use href="#green-arrow"></use>
                </svg>
            </button>
        </div>

        <div class="swiper news-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="article-text__img">
                        <img src="./assets/images/main-baner.jpg" alt="#">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-text__img">
                        <img src="./assets/images/main-baner.jpg" alt="#">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-text__img">
                        <img src="./assets/images/main-baner.jpg" alt="#">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-text__img">
                        <img src="./assets/images/main-baner.jpg" alt="#">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="article-text__img">
                        <img src="./assets/images/main-baner.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>

        <p>
            Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Interdum consectetur libero id
            faucibus nisl tincidunt eget nullam non. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien
            et. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Mattis nunc sed blandit
            libero. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Consectetur lorem donec massa
            sapien faucibus. Facilisi morbi tempus iaculis urna id volutpat lacus. Ultricies mi quis hendrerit dolor
            magna eget est. Ante in nibh mauris cursus. Pulvinar neque laoreet suspendisse interdum consectetur libero
            id. Arcu risus quis varius quam quisque id diam. Dictumst quisque sagittis purus sit amet volutpat
            consequat. Viverra mauris in aliquam sem fringilla ut morbi.
        </p>
    </div>
</section>