<section class="production">

  <div class="production-head">
    <div class="production-head__container">

      <div class="production-head__content">
        <h1 class="production-head__title">
          семена собственного производства
        </h1>

        <div class="production-head__text">
          <p>
            Мы предлагаем лучшие сорта и гибриды отечественной селекции. <br>
            Подберите подходящие или получите персональную
            консультацию.
          </p>
        </div>
      </div>

      <div class="production-head__img">
        <img src="./assets/images/main-info.png" alt="">
      </div>

      <button type="button" class="default-link production-head__link" data-open-consultation>
        Получить консультацию
      </button>

    </div>
  </div>

  <div class="production-nav">
    <div class="production-nav__container">

      <div class="main-question-list info-main-list">
        <a href="#seed-1" class="main-question-list-item">
          <span class="main-question-list-item__number">01</span>

          <span class="main-question-list-item__text">
            Семена подсолнечника
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#seed-2" class="main-question-list-item">
          <span class="main-question-list-item__number">02</span>

          <span class="main-question-list-item__text">
            Семена сои
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#seed-3" class="main-question-list-item">
          <span class="main-question-list-item__number">03</span>

          <span class="main-question-list-item__text">
            Семена льна
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#seed-4" class="main-question-list-item">
          <span class="main-question-list-item__number">04</span>

          <span class="main-question-list-item__text">
            Семена кукурузы
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">05</span>

          <span class="main-question-list-item__text">
            Скачать каталог
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
        <a href="#" class="main-question-list-item">
          <span class="main-question-list-item__number">06</span>

          <span class="main-question-list-item__text">
            Скачать прайс на семена
          </span>

          <svg>
            <use href="#link-icon"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>

  <div class="production-info" id="seed-1">
    <div class="production-info__container">
      <h3 class="production-info__title">
        <svg>
          <use href="#seed-type-1"></use>
        </svg>
        Семена подсолнечника
      </h3>

      <div class="production-info-table production-info-table_1">
        <div class="production-info-table__container">

          <div class="production-info-table-item">
            <div class="production-info-table-item__text">
              <p>гибрид</p>
            </div>
            <button type="button" class="production-info-table-item__filter">
              технология
              <svg>
                <use href="#link-icon"></use>
              </svg>
            </button>
            <button type="button" class="production-info-table-item__filter">
              группа спелости
              <svg>
                <use href="#link-icon"></use>
              </svg>
            </button>
            <div class="production-info-table-item__text">
              <p>масличность</p>
            </div>
            <div class="production-info-table-item__text">
              <p>урожайность</p>
            </div>
            <div class="production-info-table-item__text">
              <p>регионы допуска</p>
            </div>
          </div>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>Сурус</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ExpressSun</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ИММИ</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Clearfield</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 50%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>КЛИП</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Clearfield Plus</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ГОРФИЛД</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Классика OR7</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 53%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 45ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ГРАНТ</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Классика OR7</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 43ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>СПРИНТ</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Классика OR5</p>
            </div>
            <div class="production-info-table-item__text">
              <p>ультраранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 49%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 43ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ФОГОР 2024</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Классика OR7+</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 50%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 43ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ТАЙЗАР 2024</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>Классика OR7+</p>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 50%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 43ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="production-info" id="seed-2">
    <div class="production-info__container">
      <h3 class="production-info__title">
        <svg>
          <use href="#seed-type-2"></use>
        </svg>
        Семена сои
      </h3>

      <div class="production-info-table production-info-table_2">
        <div class="production-info-table__container">

          <div class="production-info-table-item">
            <div class="production-info-table-item__text">
              <p>сорт</p>
            </div>
            <button type="button" class="production-info-table-item__filter">
              группа спелости
              <svg>
                <use href="#link-icon"></use>
              </svg>
            </button>
            <div class="production-info-table-item__text">
              <p>белок</p>
            </div>
            <div class="production-info-table-item__text">
              <p>урожайность</p>
            </div>
            <div class="production-info-table-item__text">
              <p>высота</p>
            </div>
            <div class="production-info-table-item__text">
              <p>регионы допуска</p>
            </div>
          </div>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>СЛАВИЯ</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>115-140см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>БАРС</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 50%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>90-105см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 8</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>СЕЛЕНА</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>90-105см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ВИЛАНА</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 53%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 45ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>100-110см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ЗАРА</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 52%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 43ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>100-125см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="production-info" id="seed-3">
    <div class="production-info__container">
      <h3 class="production-info__title">
        <svg>
          <use href="#seed-type-3"></use>
        </svg>
        Семена льна
      </h3>

      <div class="production-info-table production-info-table_3">
        <div class="production-info-table__container">

          <div class="production-info-table-item">
            <div class="production-info-table-item__text">
              <p>сорт</p>
            </div>
            <div class="production-info-table-item__text">
              <p>
                группа спелости
              </p>
            </div>
            <div class="production-info-table-item__text">
              <p>масло</p>
            </div>
            <div class="production-info-table-item__text">
              <p>урожайность</p>
            </div>
            <div class="production-info-table-item__text">
              <p>высота</p>
            </div>
            <div class="production-info-table-item__text">
              <p>регионы допуска</p>
            </div>
          </div>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>ВНИИМК 620</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 50%</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 25ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>65-70см</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="production-info" id="seed-4">
    <div class="production-info__container">
      <h3 class="production-info__title">
        <svg>
          <use href="#seed-type-4"></use>
        </svg>
        Семена кукурузы
      </h3>

      <div class="production-info-table production-info-table_4">
        <div class="production-info-table__container">

          <div class="production-info-table-item">
            <div class="production-info-table-item__text">
              <p>гибрид</p>
            </div>
            <div class="production-info-table-item__text">
              <p>
                группа спелости
              </p>
            </div>
            <div class="production-info-table-item__text">
              <p>ФАО</p>
            </div>
            <div class="production-info-table-item__text">
              <p>назначение</p>
            </div>
            <div class="production-info-table-item__text">
              <p>урожайность</p>
            </div>
            <div class="production-info-table-item__text">
              <p>регионы допуска</p>
            </div>
          </div>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>РОС 130</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>130</p>
            </div>
            <div class="production-info-table-item__text">
              <p>зерно</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>РОС 199</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>ранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>190</p>
            </div>
            <div class="production-info-table-item__text">
              <p>зерно, силос</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>

          <a href="#" class="production-info-table-item">
            <div class="production-info-table-item__text">
              <h4>Краснодарская 291</h4>
            </div>
            <div class="production-info-table-item__text">
              <p>среднеранний</p>
            </div>
            <div class="production-info-table-item__text">
              <p>290</p>
            </div>
            <div class="production-info-table-item__text">
              <p>зерно,силос</p>
            </div>
            <div class="production-info-table-item__text">
              <p>до 40ц/га</p>
            </div>
            <div class="production-info-table-item__text">
              <p>6, 7, 8, 9, 10</p>
            </div>
            <svg>
              <use href="#link-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>