<section class="product">

  <div class="product-head">
    <div class="product-head__container">

      <div class="product-head__inner">
        <div class="swiper product-head-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide product-head-swiper__slide">
              <img src="./assets/images/product-head-1.jpg" alt="">
            </div>
            <div class="swiper-slide product-head-swiper__slide">
              <img src="./assets/images/product-head-1.jpg" alt="">
            </div>
            <div class="swiper-slide product-head-swiper__slide">
              <img src="./assets/images/product-head-1.jpg" alt="">
            </div>
          </div>

          <button type="button" class="product-head-swiper__btn product-head-swiper__btn_prev">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>
          <button type="button" class="product-head-swiper__btn product-head-swiper__btn_next">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>

        <div class="product-head-info">
          <div class="product-head-info__title">
            <h1 class="product-head__title">Горфилд</h1>
            <span class="product-head-info__type">Express® Sun</span>
          </div>
          <h3 class="product-head-info__subtitle">Среднеранний гибрид <br> подсолнечника</h3>

          <div class="product-head-info__inner">
            <ul class="product-head-info-list">
              <li class="product-head-info-list__item">
                <svg>
                  <use href="#seed-icon"></use>
                </svg>
                Интенсивного типа;
              </li>
              <li class="product-head-info-list__item">
                <svg>
                  <use href="#seed-icon"></use>
                </svg>
                Высокая масличность;
              </li>
              <li class="product-head-info-list__item">
                <svg>
                  <use href="#seed-icon"></use>
                </svg>
                Устойчив к полеганию;
              </li>
              <li class="product-head-info-list__item">
                <svg>
                  <use href="#seed-icon"></use>
                </svg>
                Высокотолерантен к основным патогенам;
              </li>
              <li class="product-head-info-list__item">
                <svg>
                  <use href="#seed-icon"></use>
                </svg>
                Устойчив к гербицидам производственной системы <a href="#">Express® Sun</a>.
              </li>
            </ul>

            <div class="product-head-info-stats">
              <div class="product-head-info-stats__item">
                <div class="product-head-info-stats__img">
                  <!-- <img src="./assets/images/product-head-info-stats-1.jpg" alt=""> -->
                  <svg>
                    <use href="#size-icon"></use>
                  </svg>
                </div>
                160-180 см
              </div>
              <div class="product-head-info-stats__item">
                <div class="product-head-info-stats__img">
                  <!-- <img src="./assets/images/product-head-info-stats-2.jpg" alt=""> -->
                  <svg>
                    <use href="#seed-type-1"></use>
                  </svg>
                </div>
                выпуклая,
                среднего размера
              </div>
            </div>
          </div>
        </div>

        <button type="button" class="default-link product-head__link" data-open-product>Купить</button>
      </div>
    </div>
  </div>

  <div class="product-info">
    <div class="product-info__container">

      <div class="product-info__content">
        <h3 class="product-info__title">Устойчивость:</h3>

        <div class="product-info-table">
          <div class="product-info-table__container">
            <div class="product-info-table-item">
              <div class="product-info-table-item__text"></div>
              <div class="product-info-table-item__info">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Стресс</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Полегание</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Фомопсис</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Альтернариоз</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Серая и белая гнили</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Фомоз</div>
              <div class="product-info-table-item__info" style="--fill: 90%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">ЛМР</div>
              <div class="product-info-table-item__info" style="--fill: 90%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Ржавчина</div>
              <div class="product-info-table-item__info" style="--fill: 80%"></div>
            </div>
            <div class="product-info-table-item">
              <div class="product-info-table-item__text">Заразиха</div>
              <div class="product-info-table-item__info">
                <span>A</span>
                <span>B</span>
                <span>C</span>
                <span>D</span>
                <span>E</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product-info__content">
        <h3 class="product-info__title">Характеристики:</h3>

        <div class="product-info__text">
          <p>
            Применение гербицидов производственной системы <a href="#">Express® Sun</a> позволяет контролировать широкий
            спектр сорных растений,
            в том числе амброзию,осот и др.
          </p>
        </div>

        <div class="product-info-list">
          <div class="product-info-list-item">
            <svg>
              <use href="#technologies-icon"></use>
            </svg>

            <h4 class="product-info-list-item__title">Технология</h4>

            <p class="product-info-list-item__text">
              Express
            </p>
          </div>
          <div class="product-info-list-item">
            <svg>
              <use href="#calendar-icon"></use>
            </svg>

            <h4 class="product-info-list-item__title">Группа спелости</h4>

            <p class="product-info-list-item__text">
              среднеранний
            </p>
          </div>
          <div class="product-info-list-item">
            <svg>
              <use href="#oil-icon"></use>
            </svg>

            <h4 class="product-info-list-item__title">Масличность</h4>

            <p class="product-info-list-item__text">
              до 53%
            </p>
          </div>
          <div class="product-info-list-item">
            <svg>
              <use href="#crop-icon"></use>
            </svg>

            <h4 class="product-info-list-item__title">Потенциал урожайности</h4>

            <p class="product-info-list-item__text">
              до 43ц/га
            </p>
          </div>
          <div class="product-info-list-item">
            <svg>
              <use href="#map-icon"></use>
            </svg>

            <h4 class="product-info-list-item__title">Регионы допуска</h4>

            <p class="product-info-list-item__text">
              Центрально-Черноземный (5), Северо-Кавказский (6), Средневолжский (7), Нижневолжский (8), Уральский (9),
              Западно-Сибирский (10)
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="product-feedback">
    <div class="product-feedback__container">

      <div class="product-feedback__head">
        <h3 class="product-feedback__title">Отзывы</h3>

        <div class="product-feedback-btns">
          <button type="button" class="product-feedback-btns__btn product-feedback-btns__btn_prev">
            <svg>
              <use href="#arrow-left-icon"></use>
            </svg>
          </button>
          <button type="button" class="product-feedback-btns__btn product-feedback-btns__btn_next">
            <svg>
              <use href="#arrow-right-icon"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="swiper product-feedback-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide product-feedback-swiper-slide">
            <div class="product-feedback-swiper-slide__img">
              <img src="./assets/images/about-news-1.jpg" alt="">
            </div>

            <div class="product-feedback-swiper-slide__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </p>
            </div>
          </div>
          <div class="swiper-slide product-feedback-swiper-slide">
            <div class="product-feedback-swiper-slide__img">
              <img src="./assets/images/about-news-1.jpg" alt="">
            </div>

            <div class="product-feedback-swiper-slide__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </p>
            </div>
          </div>
          <div class="swiper-slide product-feedback-swiper-slide">
            <div class="product-feedback-swiper-slide__img">
              <img src="./assets/images/about-news-1.jpg" alt="">
            </div>

            <div class="product-feedback-swiper-slide__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </p>
            </div>
          </div>
          <div class="swiper-slide product-feedback-swiper-slide">
            <div class="product-feedback-swiper-slide__img">
              <img src="./assets/images/about-news-1.jpg" alt="">
            </div>

            <div class="product-feedback-swiper-slide__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="product-result">
    <div class="product-result__container">

      <h3 class="product-result__title">Результаты урожайности</h3>

      <ul class="product-result-list">
        <li class="product-result-list__item">2023г. ООО Заря ( Краснодарский край, Лабинский район) 43ц/га</li>
        <li class="product-result-list__item">2023г. ООО Заря ( Краснодарский край, Лабинский район) 43ц/га</li>
        <li class="product-result-list__item">2023г. ООО Заря ( Краснодарский край, Лабинский район) 43ц/га</li>
      </ul>

    </div>
  </div>

</section>