<section class="shop">

  <div class="main-top shop-top">
    <div class="main-top__container">

      <h1 class="main-top__title">Где купить <br> семена?</h1>
      <p class="main-top__text">
        Мы осуществляем прямые продажи. Оставьте заявку или найдите менеджера в вашем регионе.
      </p>
      <a href="tel:8 800 6000 940" class="default-link default-link_white main-top__link">8 800 6000 940</a>

    </div>
  </div>

  <div class="shop-form-container" id="shop-form-container">
    <form action="#" class="main-info-top main-info-form shop-form" data-send>
      <div class="main-info-top__inner">
        <h4 class="main-info__title">
          Получить консультацию специалиста
        </h4>
      </div>

      <div class="main-info-form__container">
        <div class="main-info-form__inner">
          <input type="text" class="main-info-form__input" placeholder="Имя">
          <input type="text" class="main-info-form__input" placeholder="Номер">

          <!-- <div class="select main-info-form-select">
            <input type="text" class="select__value main-info-form-select__value">
            <button type="button" class="select__btn main-info-form-select__btn main-info-form__input">
              <span>Регион</span>
              <svg>
                <use href="#link-icon"></use>
              </svg>
            </button>
            <div class="main-info-form-select-content">
              <button type="button" class="select__item main-info-form-select-content__btn"
                data-value="value-1">Москва</button>
              <button type="button" class="select__item main-info-form-select-content__btn"
                data-value="value-2">Питер</button>
              <button type="button" class="select__item main-info-form-select-content__btn"
                data-value="value-3">Уфа</button>
            </div>
          </div> -->

          <div class="custom-select main-info-form-select">
            <select class="my-select">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>
            <span class="main-info-form-select__btn main-info-form__input">
              <span class="select__btn">Регион</span>
              <svg>
                <use href="#link-icon"></use>
              </svg>
            </span>
            <ul class="main-info-form-select-content">
              <li data-value="option1">Москва</li>
              <li data-value="option2">Питер</li>
              <li data-value="option3">Уфа</li>
            </ul>
          </div>
          
          <p class="main-info-form__legal">
            Нажимая на кнопку вы соглашаетесь на обработку персональных данных
          </p>
        </div>

        <button type="submit" class="default-link main-info-form__btn">Получить</button>

        <div class="main-top-form__send">
          <h4 class="main-top-form__title">
            Спасибо! <br>
            Мы свяжемся с вами в ближайшее время
          </h4>
        </div>
      </div>
    </form>
  </div>

  <div class="main-region shop-region">
    <div class="main-region__container">

      <h3 class="main-region__title">
        Региональные
        представительства
      </h3>

      <ul class="main-region-list">
        <li class="main-region-list-item">
          <a href="https://yandex.ru/map-widget/v1/?um=constructor%3A5c96293f174eafe293c8972e7b7423e0edcef57420eb8523bb50a0af12a197d3&amp;source=constructor"
            class="main-region-list-item__img" data-fancybox>
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A5c96293f174eafe293c8972e7b7423e0edcef57420eb8523bb50a0af12a197d3&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </a>

          <p class="main-region-list-item__text">
            Центральный офис ООО «РУСИД» <br>
            350015 г. Краснодар, ул. им. Янковского, 169 <br>
            оф. 407-408, 506 <br>
            8 800 6000 940 <br>
            8 909 448 67 60

          </p>
        </li>
        <li class="main-region-list-item">
          <div class="main-region-list-item__img">
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc0829b91b19ccda98ee79b4518b34b970d5dac1e82c677003a31291657ed236&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>

          <p class="main-region-list-item__text">
            410530 г. Саратов, поселок Дубки <br>
            тер. Девон-Альянс, здание 6 литер П18, 11 <br>
            8 800 6000 940 <br>
            8 961 510 00 26
          </p>
        </li>
        <li class="main-region-list-item">
          <div class="main-region-list-item__img">
            <!-- <img src="../assets/images/main-baner.jpg" alt=""> -->
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc0829b91b19ccda98ee79b4518b34b970d5dac1e82c677003a31291657ed236&amp;source=constructor"
              width="100%" height="100%" frameborder="0"></iframe>
          </div>

          <p class="main-region-list-item__text">
            460027 г. Оренбург, ул. Беляевская д. 40, офис 2 <br>
            8 800 6000 940 <br>
            8 967 300 01 29
          </p>
        </li>
      </ul>

    </div>
  </div>

  <div class="shop-contacts">
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
    <div class="shop-contacts-item">
      <div class="shop-contacts-item__img">
        <img src="" alt="">
      </div>
      <div class="shop-contacts-item__text">
        <p>
          Руководитель отдела продаж регионы ЮФО и Черноземье
        </p>
        <p>
          Раков Денис
        </p>
        <p>
          +7 909 448 67 60
        </p>
      </div>
    </div>
  </div>

</section>